.home-container {
  display: flex;
  flex-direction: column;
}

.home-item {
  margin-top: 10px;
  margin-bottom: 10px;

  display: flex;
  /* border: 1px solid rgba(255, 0, 0, 0.8); */
  flex-wrap: wrap;
}

.home-item-item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 300px;
  min-height: 400px;
}

/* Screen larger than 600px? flex need to wrap */
@media (min-width: 600px) {
  .home-item-item {
    min-width: 600px;
  }
}

/* Screen larger than 1200px? each element need 100vh */
@media (min-width: 1200px) {
  .home-item-item {
    min-height: 100vh;
  }
}

.paragraph {
  display: block;
  font-size: 1rem;
}

.title {
  display: block;
  font-size: 2.5rem;
}

.product:hover {
  box-shadow: 0 0 5px 2px;
}

.products {
  display: grid;
  grid-gap: 2rem;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

.homeImage {
  border: 10px solid rgb(255, 255, 255);
}

.home-item:first-child {
  border: 2px solid white;
}

.home-item:first-child::before {
  display: block; /*missing prop*/
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: blur(5px);
  opacity: 0.6;
  content: "";
  background-image: url("https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/Articles/types-of-flooring-hero-A.jpg");
}

.optionContainer {
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}

.optionBox {
  font-size: 1.3rem;
  /* border: 2px solid black; */
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
