.title {
  margin-top: 50px;
  text-align: center;
}

.workContainer {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.card {
  margin-top: 20px;
  max-width: 20vw;
}

@media only screen and (max-width: 600px) {
  .workContainer {
    margin: unset;
  }
  .card {
    min-width: 100vw;
  }
}
