.nav-logo {
  width: 50px;
  border-radius: 50%;
}

.nav-bar {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  font-weight: bolder;
  font-family: Georgia, serif;
}
